<!DOCTYPE html>
<html ng-app="tutorialApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial .NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>x
                    @Html.ActionLink("Aplicação AngularJS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Inicio</a></li>
                        <li><a href="#/contatos">Contatos</a></li>
                        <li><a href="#/sobre">Sobre</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <div class="container">
                <a href="#/">Inicio</a> <span>|</span>
                <a href="#/contatos">Contatos</a> <span>|</span>
                <a href="#/sobre">Sobre</a>
                <p>&copy; @DateTime.Now.Year - Aplicação Exemplo - AngularJS + ASP.NET MVC + EF Code First</p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/tutorialApp")
    @RenderSection("scripts", required: false)
</body>
</html>
